
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F5F5F5;
    color: #333;
}

#avaGrid {
    display: flex;
}

.left {
    padding-right: 50px;
}

.right {
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 8%);
    background-color: #fff;
    padding: 30px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.cell {
    border: 1px solid #ccc;
    width: 50px;
    height: 50px;
    transition: background-color 0.5s ease;
}

.filled {
    background-color: red;
    display: flex;
    align-items: center;
}

.filled.hover {
    background-color: green;
}

.filled span {
    flex: 1;
    text-align: center;
    pointer-events: none;
    color: #fff;
}

#container,
.cell {
    border-collapse: collapse;
}


/*********
FORM STYLES
**********/

#avaGrid {
    margin: 100px;
}

#avaGrid .row {
    margin-bottom: 20px;
    display: flex;
}

#avaGrid .row.footer {
    justify-content: center;
    margin-top: 70px;
}

#avaGrid label {
    min-width: 200px;
}

output {
    padding: 0 20px;
}

button {
    background: #0099cc;
    color: #ffffff;
    padding: 14px 24px;
    border: 0 none;
    letter-spacing: 1px;
    border-radius: 3px;
}